<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments :: flg_head"></th:block>
<link rel="stylesheet" href="/css/board/board.css">
</head>
<body>

<div class="content">

	<h2 class='tit'>게시판</h2>
	<div class='info' th:object="${board}">
		<span th:text="|번호 : *{bdIdx}|"></span>
		<span th:text="|제목 : *{title}|"></span>
		<span th:text="|등록일 : *{regDate}|"></span>
		<span th:text="|작성자 : *{member.userId}|"></span>
	</div>
	<div class='info file_info'>
		<ol>
			<li th:each="file : ${board.files}" th:object="${file}">
				<a th:onclick="downloadFile([[*{originFileName}]],[[*{renameFileName}]],[[*{savePath}]])">
					[[*{originFileName}]]
				</a>
			</li>		
		</ol>
	</div>
	
	<div class='article_content'>
		<pre>[[${board.content}]]</pre>
	</div>
	<button th:object="${board}" th:rel="@{/board/board-modify(bdIdx=${board.bdIdx})}">수정</button>

</div>

	<script type="text/javascript">
		let downloadFile = (ofn,rfn,path) => {
			let paramObj = {
					originFileName : ofn,
					renameFileName : rfn,
					savePath : path
			}
			location.href = '/download?' + urlEncoder(paramObj);
		}
	</script>






</body>
</html>